.site-content {
    font-family: robot;
    text-align: center; /* Centraliza o texto dentro da div .site-content */
    width: 100%;
    height: 100%;
  }
  
  #imagemdefundo {
    background-image: url("https://i.pinimg.com/originals/e5/d1/c7/e5d1c72c43786ad429213b3a0e07c3ff.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    margin: 0;
    padding: 40px 0; /* Adiciona um espaçamento de 50px no topo e 0 nas laterais */
    min-height: 100vh;
  }
  
  .textobemvindo {
    background-color: rgba(245, 245, 245, 0.8); /* Cor whitesmoke com 80% de opacidade */
    color: #4b0082;
    margin: auto; /* Centraliza horizontalmente */
    width: 35%;
    border: white; /* Cria a borda em torno da div/texto */
    margin-top: 40px;
    margin-bottom: 10px;
    border-radius: 20px; /* Borda com curvatura */
    font-family: robot; /* Definir uma fonte padrão para o texto */
    padding: 15px 20px; /* Margem interna de 15 pixels no topo e na parte inferior, 20 pixels nas laterais */
  }
  
  .textobemvindo h1 { 
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
  }
  
  .textobemvindo h2 { 
    font-size: 15px;
    font-weight: lighter;
  }
  
  .blocologin {
    background-color: rgba(245, 245, 245, 0.8); /* Cor whitesmoke com 80% de opacidade */
    font-weight: bold;
    font-size: 15px;
    color: #4b0082;
    margin: auto; /* Centraliza horizontalmente */
    width: 35%;
    border: white; /* Cria a borda em torno da div/texto */
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 20px; /* Borda com curvatura */
    font-family: robot; /* Definir uma fonte padrão para o texto */
    padding: 15px 20px; /* Margem interna de 15 pixels no topo e na parte inferior, 20 pixels nas laterais */
  } 
  
  .blocologin h3 { 
    font-size: 15px;
  }
  

  
  input[type="email"],
  input[type="senha"] {
    background-color: rgba(245, 245, 245, 0.95); /* Cor whitesmoke com 95% de opacidade */
    font-size: 15px;
    border: none;
    border-radius: 20px; /* Borda com curvatura */
    font-family: robot; /* Definir uma fonte padrão para o texto */
    padding: 10px; /* Margem interna de 10 pixels em todos os lados */
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .blocologin p { 
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  a[href="esquecisenha"],
  a[href="cadastro.html"] {
    background-color: rgba(75, 0, 130, 0.7); /* Cor com opacidade */
    color: whitesmoke;
    font-size: 15px;
    border: none;
    border-radius: 20px; /* Borda com curvatura */
    font-family: robot; /* Definir uma fonte padrão para o texto */
    padding: 10px; /* Margem interna de 10 pixels em todos os lados */
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: lighter;
  }

  input[type="acessar"]{
    background-color: rgba(75, 0, 130, 0.7); /* Cor com opacidade */
    color: whitesmoke;
    font-size: 15px;
    border: none;
    border-radius: 20px; /* Borda com curvatura */
    font-family: robot; /* Definir uma fonte padrão para o texto */
    padding: 10px; /* Margem interna de 10 pixels em todos os lados */
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: lighter;
  }
  
  input[type="acessar"]:hover,
    a[href="esquecisenha"]:hover,
    a[href="cadastro.html"]:hover {
      color: #000; /* Altera a cor do texto para preto ao passar o mouse por cima */
      text-decoration:none;
    }
  
  /* Media queries para telas menores */
  @media only screen and (max-width: 768px) {
    .site-content {
      font-family: robot;
      text-align: center; /* Centraliza o texto dentro da div .site-content */
      width: 100%;
      height: 100%;
    }
    
    #imagemdefundo {
      background-image: url("https://i.pinimg.com/originals/e5/d1/c7/e5d1c72c43786ad429213b3a0e07c3ff.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      align-items: center;
      margin: 0;
      padding: 40px 0; /* Adiciona um espaçamento de 50px no topo e 0 nas laterais */
      min-height: 100vh;
  
    }
    
    .textobemvindo {
      background-color: rgba(245, 245, 245, 0.8); /* Cor whitesmoke com 80% de opacidade */
      color: #4b0082;
      margin: auto; /* Centraliza horizontalmente */
      width: 80%; /* Alterado para ocupar 80% da largura da tela em dispositivos menores */
      border: white; /* Cria a borda em torno da div/texto */
      margin-top: 40px;
      margin-bottom: 10px;
      border-radius: 20px; /* Borda com curvatura */
      font-family: robot; /* Definir uma fonte padrão para o texto */
      padding: 15px 20px; /* Margem interna de 15 pixels no topo e na parte inferior, 20 pixels nas laterais */
    }
    
    .textobemvindo h1 { 
      font-size: 25px;
      font-weight: bold;
      font-style: italic;
    }
    
    .textobemvindo h2 { 
      font-size: 15px;
      font-weight: lighter;
    }
    
    .blocologin {
      background-color: rgba(245, 245, 245, 0.8); /* Cor whitesmoke com 80% de opacidade */
      font-weight: bold;
      font-size: 15px;
      color: #4b0082;
      margin: auto; /* Centraliza horizontalmente */
      width: 80%; /* Alterado para ocupar 80% da largura da tela em dispositivos menores */
      border: white; /* Cria a borda em torno da div/texto */
      margin-top: 20px;
      margin-bottom: 10px;
      border-radius: 20px; /* Borda com curvatura */
      font-family:robot; /* Definir uma fonte padrão para o texto */
      padding: 15px 20px; /* Margem interna de 15 pixels no topo e na parte inferior, 20 pixels nas laterais */
    } 
    
    .blocologin h3 { 
      font-size: 15px;
    }
    
    .blocologin p { 
      font-size: 15px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    
    input[type="email"],
    input[type="senha"] {
      background-color: rgba(245, 245, 245, 0.95); /* Cor whitesmoke com 95% de opacidade */
      font-size: 15px;
      border: none;
      border-radius: 20px; /* Borda com curvatura */
      font-family: robot; /* Definir uma fonte padrão para o texto */
      padding: 10px; /* Margem interna de 10 pixels em todos os lados */
      margin-top: 10px;
      margin-bottom: 10px;
    }
    
    a[href="esquecisenha"],
    input[type="acessar"],
    a[href="cadastro.html"] {
      background-color: rgba(75, 0, 130, 0.7); /* Cor com opacidade */
      color: whitesmoke;
      font-size: 15px;
      border: none;
      border-radius: 20px; /* Borda com curvatura */
      font-family: robot; /* Definir uma fonte padrão para o texto */
      padding: 10px; /* Margem interna de 10 pixels em todos os lados */
      margin-top: 10px;
      margin-bottom: 10px;
      font-weight: lighter;
    }
  }